@page
@model AccountingSystem.Web.Pages.ShopItems.Index
@{
    ViewData["Title"] = "Товары";
}
<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeModal">Создать</button>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col" hidden>Индификатор</th>
        <th scope="col"></th>
        <th scope="col">Название</th>
        <th scope="col">Категория</th>
        <th scope="col">Цена</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var shopItem in Model.ShopItems)
    {
        <tr>
            <td hidden>@shopItem.Id</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Дейсвия
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#changeModal">Изменить</a>
                        </li>
                        <li><a class="dropdown-item" href="#">Удалить</a></li>
                    </ul>
                </div>
            </td>
            <td>@shopItem.Name</td>
            <td>@(shopItem.Category?.Title ?? "Неизвестно")</td>
            <td>@shopItem.Price</td>
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="changeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Новая категория</h1>
            </div>
            <div class="modal-body container-fluid">
                <div class="row">
                    <label class="form-label">Название</label>
                    <input class="form-control" asp-for="ChangeShopItem.Name"/>
                </div>
                <div class="row">
                    <label class="form-label">Категория</label>
                    <select class="form-select" aria-label="Категории" asp-for="@Model.ChangeShopItem.CategoryId">
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Title</option>
                        }
                    </select>
                </div>
                <div class="row">
                    <label class="form-label">Описание</label>
                    <textarea class="form-control" asp-for="ChangeShopItem.Description"></textarea>
                </div>
                <div class="row">
                    <label class="form-label">Цена</label>
                    <input class="form-control" type="number" asp-for="ChangeShopItem.Price"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>
